.footer__buttons {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    bottom: 3vh;
}

.footer__buttons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}